<div ng-controller="WelcomeCtrl" layout="column" ng-cloak style="height: 100%">
	<md-toolbar class="md-hue-800" layout="row" style="position: relative">
		<div class="md-toolbar-tools">
			<h2>
				<span>Geospatial Data Visualiser</span>
			</h2>
			
			<span flex></span>

			<md-button class="md-raised" aria-label="Login" ng-click="showLogin($event)">
	        	Login
	        </md-button>
	        <md-button class="md-raised" aria-label="Register" ng-click="showSignUp($event)">
	         	Signup
	        </md-button>
		</div>
	</md-toolbar>
	<jk-carousel
        data="dataArray"
        item-template-url="'home/pics.html'"
        max-width="2000" 
        max-height="{{ iframeHeight }}"
        auto-slide="true" auto-slide-time="2000">
    </jk-carousel>
</div>