<div class="row">
    <div class="col s12">
        <ul materialize="tabs" class="tabs indigo lighten-1">
            <li class="tab col s4"><a class = "active white-text" href="#disaster_management">Disaster Management</a></li>
            <li class="tab col s4"><a href="#active_disaster" class="white-text">Active Disasters</a></li>
            <li class="tab col s4"><a href="#tracked_disastes" class="white-text">Disaster Tracking</a></li>
        </ul>
    </div>
    <div id="disaster_management" class="col s12">

    </div>
    <div id="active_disaster" class="col s12">

    </div>

    <div id="tracked_disastes" class="col s12">

    </div>
</div>
