<ul materialize="tabs" class="tabs">
    <li class="tab col s4 z-depth-2"><a href="#filter" class="active" ><i class="material-icons">search</i>Filter</a></li>
    <li class="tab col s4 z-depth-2"><a href="#tracking"><i class="material-icons">place</i>Tracking<span style="" class="badge">4</span></a></li>
    <li class="tab col s4 z-depth-2"><a href="#active"><i class="material-icons">warning</i>Active<span style="" class="new red badge">1</span></a></li>
</ul><div id="filter" class="col s12">
    <div id="nowShowing" class="row col s12">
        <div class="col" *ngFor="let disaster of showingDisasters" >
            <my-filter-button (click)="getDisastersByType()" [(on)] ="disaster.isShowing">{{disaster.name}}</my-filter-button>
        </div>
    </div>


    <hr/>
    <div class="row">
        <input type="date" class="datepicker">
    </div>


</div>
<div id="tracking" class="col s12">test2

</div>
<div id="active" class="col s12">test3

</div>
