<div id="login" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Log In</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 indigo-text lighten-1">
                        <i class="material-icons prefix">account_circle</i>
                        <label for="username">Username</label>
                        <input id="username" type="text" class="validate" required>
                    </div>
                    <div class="input-field col m10 offset-m1 indigo-text lighten-1">
                        <i class="material-icons prefix">lock_open</i>
                        <label for="password">Password</label>
                        <input id="password" type="password" class="validate" required>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me next time</label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <p>
                <a href="#" class="btn btn-flat white modal-close modal-action">Cancel</a> &nbsp;
                <a href="#" class="waves-effect waves-indigo indigo lighten-1 btn btn-flat modal-action modal-close">Login</a>
            </p>
        </div>
    </div>
</div>
