<div class="col s12 m12" *ngFor="let weather of weathers let i=index">
    <div class="row">
        <div class="card indigo lighten-1">
            <div class="card-stacked">
                <div class="card-content indigo lighten-1" style="border-radius: 2px 2px 0px 0px; padding-bottom: 0">
                    <span class="card-title white-text activator">{{ weather.City }}, {{ weather.Country }}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-content indigo lighten-2" style="margin: 0; padding: 0">
                    <div class="row" style="position: relative">
                        <div class="col s12" style="padding: 0">
                            <ul class="tabs indigo lighten-1" materialize="tabs" style="overflow: hidden">
                                <li class="tab col s3"><a class="active white-text" href="#day1">Day 1</a></li>
                                <li class="tab col s3"><a class="white-text" href="#day2">Day 2</a></li>
                                <li class="tab col s3"><a class="white-text" href="#day3">Day 3</a></li>
                                <li class="tab col s3"><a class="white-text" href="#day4">Day 4</a></li>
                                <li class="tab col s3"><a class="white-text" href="#day5">Day 5</a></li>
                                <div class="indicator white" style="z-index:1"></div>
                            </ul>
                        </div>
                        <div id="day1" class="col s12">Test 1</div>
                        <div id="day2" class="col s12">Test 2</div>
                        <div id="day3" class="col s12">Test 3</div>
                        <div id="day4" class="col s12">Test 4</div>
                        <div id="day5" class="col s12">Test 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
