<div  layout="column" ng-cloak style="height: 100%">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">
                <span>Disasters</span>
            </h2>
            <span flex></span>
            <md-input-container md-no-float style="padding-bottom:0px;">
                <md-datepicker ng-model="myDate" md-placeholder="Start date"></md-datepicker>
            </md-input-container>
            <md-input-container md-no-float style="padding-bottom:0px;">
                <md-datepicker ng-model="myDate" md-placeholder="End date"></md-datepicker>
            </md-input-container>
        </div>
        <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <md-button-group>
                <md-button md-colors="{background: 'primary'}"><md-icon class="wi wi-fire"></md-icon> Fire <md-icon class="close">close</md-icon></md-button>
                <md-button><md-icon class="wi wi-earthquake"></md-icon> Earthquake <md-icon class="close">close</md-icon></md-button>
                <md-button><md-icon class="wi wi-flood"></md-icon> Flood <md-icon class="close">close</md-icon></md-button>
                <md-button><md-icon class="wi wi-tsunami"></md-icon> Tsunami <md-icon class="close">close</md-icon></md-button>
            </md-button-group>
        </div>
    </md-toolbar>
</div>