<div  layout="column" ng-cloak style="height: 100%" ng-controller="DisastersCtrl" ng-init="init()">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">
                <span>Disasters</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="showSignUp($event)">
                <md-tooltip>
                    Filter Earthquakes
                </md-tooltip>
                <md-icon md-font-icon="fa-filter" class="fa" style="color: greenyellow;"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout-fill style="height:100%">
        <md-list flex>
            <md-subheader class="md-no-sticky">Change Filter if data not showing</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="earth in earthData | orderBy: '-properties.time'" ng-click="moveLocation(earth)" ng-mouseover="openPop(earth)" ng-mouseleave="closePop(earth)">
                <md-icon md-font-icon="wi-earthquake" class="wi" style="color: orange;"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <div style="display: inline">
                        <h3 style="font-weight: bold; text-align:left;float:left;display:inline;">{{ earth.properties.mag }}</h3>
                        <h4 style="text-align:right;float:right;display:inline;">{{earth.properties.time | date:"MM/dd 'at' HH:mm a" }}</h4>
                    </div>
                    <h4>{{ earth.properties.title }}</h4>
                    <p>Distance to: {{  getDistanceFromLatLonInKm(earth.geometry.coordinates[1],earth.geometry.coordinates[0]) }} Km</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>