<md-list ng-model="gis.weather" ng-controller="WeatherCtrl">
	<md-list-item style="padding: 0">
		<md-card md-theme-watch md-colors="{background: 'mycolor-300'}" style="margin-bottom: 0" flex>
        <md-card-title layout="row">
          <md-card-title-text flex="25" layout-align="center center">
            <span class="md-display-1">{{weather.name}}</span>
            <span class="md-body-4">{{weather.description}}</span>
            <br>
            <span class="md-body-3">{{getTime()}}</span>
            <span class="md-body-3">{{getDate()}}</span>
          </md-card-title-text>
          <md-card-title-text layout="row" layout-align="center center" flex>
            <i class="owf owf-{{weather.icon}}" style="font-size: 10em" md-colors="{color:'primary'}"></i>
          </md-card-title-text>
          <md-card-title-text flex="25" layout-align="center center">
            <span class="md-display-3">{{weather.temp}}&deg;C</span>
            <br>
            <span class="md-body-3">min: {{weather.temp_min}}&deg;C</span>
            <span class="md-body-3">max: {{weather.temp_max}}&deg;C</span>
            <br>
            <span class="md-body-3">Humidity: {{weather.humidity}}%</span>
            <span class="md-body-3">Wind: {{weather.wind}} m/s</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-title layout="row">
          <md-card layout-align="center center" style="padding-top: 10px; padding-bottom: 10px" md-colors="{background: cardColors[0]}" ng-click="activateButton(0)" class="cardLink" flex>
            <md-card-title-text layout-align="center center">
              {{forecast[0].day}}
            </md-card-title-text>
            <md-card-title-text>
               <i class="owf owf-{{forecast[0].icon}} owf-3x" md-colors="{color:'primary'}"></i>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-headline">{{forecast[0].temp}}&deg;C</span>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-body-3">min: {{forecast[0].temp_min}}&deg;C</span>
            </md-card-title-text>
            <md-card-title-text>
              <span class="md-body-3">max: {{forecast[0].temp_max}}&deg;C</span>
            </md-card-title-text>
          </md-card>
          <md-card layout-align="center center" style="padding-top: 10px; padding-bottom: 10px" ng-click="activateButton(1)" class="cardLink" md-colors="{background: cardColors[1]}" flex>
            <md-card-title-text layout-align="center center">
              {{forecast[8].day}}
            </md-card-title-text>
            <md-card-title-text>
               <i class="owf owf-{{forecast[8].icon}} owf-3x" md-colors="{color:'primary'}"></i>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-headline">{{forecast[8].temp}}&deg;C</span>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-body-3">min: {{forecast[8].temp_min}}&deg;C</span>
            </md-card-title-text>
            <md-card-title-text>
              <span class="md-body-3">max: {{forecast[8].temp_max}}&deg;C</span>
            </md-card-title-text>
          </md-card>
          <md-card layout-align="center center" style="padding-top: 10px; padding-bottom: 10px" ng-click="activateButton(2)" class="cardLink" md-colors="{background: cardColors[2]}" flex>
            <md-card-title-text layout-align="center center">
              {{forecast[16].day}}
            </md-card-title-text>
            <md-card-title-text>
               <i class="owf owf-{{forecast[16].icon}} owf-3x" md-colors="{color:'primary'}"></i>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-headline">{{forecast[16].temp}}&deg;C</span>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-body-3">min: {{forecast[16].temp_min}}&deg;C</span>
            </md-card-title-text>
            <md-card-title-text>
              <span class="md-body-3">max: {{forecast[16].temp_max}}&deg;C</span>
            </md-card-title-text>
          </md-card>
          <md-card layout-align="center center" style="padding-top: 10px; padding-bottom: 10px" ng-click="activateButton(3)" class="cardLink" md-colors="{background: cardColors[3]}" flex>
            <md-card-title-text layout-align="center center">
              {{forecast[24].day}}
            </md-card-title-text>
            <md-card-title-text>
               <i class="owf owf-{{forecast[24].icon}} owf-3x" md-colors="{color:'primary'}"></i>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-headline">{{forecast[24].temp}}&deg;C</span>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-body-3">min: {{forecast[24].temp_min}}&deg;C</span>
            </md-card-title-text>
            <md-card-title-text>
              <span class="md-body-3">max: {{forecast[24].temp_max}}&deg;C</span>
            </md-card-title-text>
          </md-card>
          <md-card layout-align="center center" style="padding-top: 10px; padding-bottom: 10px" ng-click="activateButton(4)" class="cardLink" md-colors="{background: cardColors[4]}" flex>
            <md-card-title-text layout-align="center center">
              {{forecast[32].day}}
            </md-card-title-text>
            <md-card-title-text>
               <i class="owf owf-{{forecast[32].icon}} owf-3x" md-colors="{color:'primary'}"></i>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-headline">{{forecast[32].temp}}&deg;C</span>
            </md-card-title-text>
            <br>
            <md-card-title-text>
              <span class="md-body-3">min: {{forecast[32].temp_min}}&deg;C</span>
            </md-card-title-text>
            <md-card-title-text>
              <span class="md-body-3">max: {{forecast[32].temp_max}}&deg;C</span>
            </md-card-title-text>
          </md-card>
        </md-card-title>
      </md-card>
	</md-list-item>
  <md-list-item style="padding: 0">
    <md-card md-theme-watch md-colors="{background: 'mycolor-300'}" flex>
      asdfg
    </md-card>
  </md-list-item>
</md-list>